<h2>Book Details</h2>

<hr/>
<div *ngIf="book">
  <div>
    <label><b>Name: </b></label> {{book.name}}
  </div>
  <div>
    <label><b>Description: </b></label> {{book.description}}
  </div>
  <div>
    <label><b>Price: </b></label> {{book.unitPrice}}
  </div>
</div>

<br>
<br>
<button (click)="deleteBook(book.id)" class="btn btn-danger">Delete</button>
<button (click)="updateBook(book.id)" class="btn btn-info">
  Update
</button>
<button (click)="list()" class="btn btn-primary">Back to Book List</button><br>


