<div class="row">

  <!--<div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let book of books | async">
      <div class="card h-100">
        <a href="#">
          <img class="card-img-top img-responsive" src="{{book.imageUrl}}" height="250" width="100">
        </a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{book.name}}</a>
          </h4>
          <h5>{{book.unitPrice | currency: 'INR'}}</h5>
          <p class="card-text text-truncate">{{book.description}}</p>
        </div>
        <div class="card-footer">
          <div class="col-lg-4 col-md-6 mb-4">
            <button (click)="deleteBook(book.id)" class="btn btn-danger" *ngIf="showDeleteButton">Delete</button>
            <button (click)="updateBook(book.id)" class="btn btn-info" *ngIf="showUpdateButton">
              Update
            </button>
            <button (click)="bookDetails(book.id)" class="btn btn-info">Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>-->


  <main role="main-home-wrapper" class="container" *ngFor="let book of books | async">

    <div class="row">

      <div class="clearfix"></div>

      <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

        <ul class="grid-lod effect-2" id="grid">

          <li>

            <figure class="effect-oscar">

              <img src="{{book.imageUrl}}" alt="" class="img-responsive"/>

              <figcaption>

                <h2>Studio Thonik <span>{{book.name}}</span></h2>

                <p>{{book.unitPrice | currency: 'INR'}}</p>

                <a href="works-details.html">View more</a>

              </figcaption>

            </figure>

          </li>

        </ul>

      </section>

      <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

        <ul class="grid-lod effect-2" id="grid">

          <li>

            <figure class="effect-oscar">

              <img src="{{book.imageUrl}}" alt="" class="img-responsive"/>

              <figcaption>

                <h2>Anatome Milano <span>{{book.name}}</span></h2>

                <p>{{book.unitPrice | currency: 'INR'}}</p>

                <a href="works-details.html">View more</a>

              </figcaption>

            </figure>

          </li>

        </ul>

      </section>

      <div class="clearfix"></div>

    </div>

  </main>

</div>
